.cardTitle {
  padding-top: 10px;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
}

.cardCategory {
  color: black;
  font-size: 15px;
  margin-right: 10px;
}

.areaCardBody {
  display: flex;
  align-items: center;
}

.areaCardBody:hover {
  background-color: rgba(232, 236, 241, 0.3);
}

.areaCardImage {
  flex-grow: 1;
}

.areaCardText {
  flex-grow: 4;
}

.areaCardText h3 {
  font-size: 1.8vw;
}

.avatar {
  width: 100px;
  height: 100px;
}

.productsScroll {
  overflow: scroll;
  scrollbar-width: 2px;
  height: 300px;
  overflow-x: hidden;
}

.areaScroll {
  overflow: scroll;
  scrollbar-width: 2px;
  height: 300px;
  overflow-x: hidden;
}

.areaScroll a div h3 {
  color: #a641b9;
}

.productsScroll a div h3 {
  color: #ffa522;
}

.productsPage a div h3 {
  color: #ffa522;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.areaScroll::-webkit-scrollbar-thumb {
  background: #a641b9;
  border-radius: 10px;
}

.productsScroll::-webkit-scrollbar-thumb {
  background: #ffa522;
  border-radius: 10px;
}

.areaHeader {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

.areaHeaderText {
  font-size: 1.8vw;
}

.addIcon {
  color: white;
}

.addIcon:hover {
  color: lightgray;
}

@media (max-width: 1000px) {
  .areaHeaderText {
    font-size: 20px;
  }

  .areaCardText h3 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .areaHeaderText {
    font-size: 20px;
  }

  .areaCardText h3 {
    margin-left: 10px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 400px) {
  .areaHeaderText {
    font-size: 17px;
  }

  .areaCardText h3 {
    font-size: 17px;
    margin-left: 10px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }
}
